.input-source
  -# %h2= t.paste_your_mess_html_source_here
  - break_code = "\n"
  %form.input-source__form{name: 'pan', id: 'pan', action: '/', method: 'post'}
    %textarea.input-source__textarea{name: 'source', placeholder: t.copy_a_html_document_and_paste_it_here + break_code + t.click_the_cook_tab  + break_code + t.get_a_beautified_html_document}
    .input-source__submit-container
      %a.input-source__submit{href: 'javascript:return void(0)', onclick: "$('#pan').submit()"}
        インデントを綺麗に

:javascript
    $(document).ready(function(){
        $.updnWatermark.attachAll();
        $('.updnWatermark > label').click(function(){
            $(this).toggle();
            $('textarea').select();
        }).blur(function(){
            $(this).toggle();
        });
    });
